[submodule "ext/pugixml"]
	path = ext/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ext/glog"]
	path = ext/glog
	url = https://github.com/google/glog.git
